In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import BernoulliNB

In [5]:
data = pd.read_csv("Youtube01-Psy.csv")
data.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"Huh, anyway check out this you[tube] channel: ...",1
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,Hey guys check out my new channel and our firs...,1
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test I have to say murdev.com,1
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtaRGgvGtWQ Check this out .﻿,1

We only need the content and class column from the dataset for the rest of the task. So let’s select both the columns and move further:

In [7]:
data = data[["CONTENT", "CLASS"]]
data.tail()

                                               CONTENT  CLASS
345  How can this have 2 billion views when there's...      0
346         I don't now why I'm watching this in 2014﻿      0
347  subscribe to me for call of duty vids and give...      1
348  hi guys please my android photo editor downloa...      1
349  The first billion viewed this because they tho...      0

The class column contains values 0 and 1. 0 indicates not spam, and 1 indicates spam. So to make it look better, I will use spam and not spam labels instead of 1 and 0:

In [10]:
data["CLASS"] = data["CLASS"].map({0: "Not Spam",
                                   1: "Spam Comment"})

In [12]:
data.tail()

                                               CONTENT         CLASS
345  How can this have 2 billion views when there's...      Not Spam
346         I don't now why I'm watching this in 2014﻿      Not Spam
347  subscribe to me for call of duty vids and give...  Spam Comment
348  hi guys please my android photo editor downloa...  Spam Comment
349  The first billion viewed this because they tho...      Not Spam

* Training a Classification Model

In [15]:
x = np.array(data["CONTENT"])
y = np.array(data["CLASS"])

cv = CountVectorizer()
x = cv.fit_transform(x)
xtrain, xtest, ytrain, ytest = train_test_split(x, y, 
                                                test_size=0.2, 
                                                random_state=42)

model = BernoulliNB()
model.fit(xtrain, ytrain)
model.score(xtest, ytest)

0.9857142857142858

Now let’s test the model by giving spam and not spam comments as input:

In [21]:
sample = "Check this out: https://thecleverprogrammer.com/" 
data = cv.transform([sample]).toarray()
print(model.predict(data))

['Spam Comment']

In [22]:
sample = "Lack of information!" 
data = cv.transform([sample]).toarray()
print(model.predict(data))

['Not Spam']